<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12 class="ion-padding ion-text-start">
        <div style="text-align: center;">
          <img src="/assets/logo.png" />
        </div>        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8" class="ion-text-left">
        WelCome <b>{{userInfo?.firstname}}</b>  
      </ion-col>
      <ion-col size="4" class="ion-text-right">
        <b (click)="logout();"><ion-icon class="logout" name="exit" size="small"></ion-icon>Log Out</b>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-padding" *ngIf="userInfo?.permission === 'B' || userInfo?.permission === 'V'">
        <div class="deep-green1 dashIcon ion-text-center" (click)="getVehiclesData()">
          <ion-icon name="car-sport-outline"></ion-icon>
          <div class="lableTxt">Vehicles</div>
        </div>
      </ion-col>
      <ion-col size="12" class="ion-padding" *ngIf="userInfo?.permission === 'B' || userInfo?.permission === 'M'">
        <div class="deep-green1 dashIcon ion-text-center" (click)="getMobileData()">
          <ion-icon name="phone-portrait-outline"></ion-icon>
          <div class="lableTxt">Mobile</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>